<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<!-- 컬럼명에 언더바가 있을 때 사용하기 유용한 '카멜케이스' -->
   <settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
</configuration>